* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    width: 90%;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

button, input {
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    border-radius: 7px;
    object-fit: cover;
}

#header {
    backdrop-filter: blur(5px);
    z-index: 99;
    background: rgba(0, 0, 0, 0.97);
}

.header {
    position: fixed;
    width: 100%;
    backdrop-filter: blur(10px);
    animation: header ease-in-out 2s;
}

@keyframes header {
    0% {
        transform: translateY(-600px);
    }
}


.popular {
    display: flex;
}


.topRated {
    display: flex;
}

a::after::before {
    color: aqua;
}

body {
    background: #131212;
}

#topRated, #popular, #nowPlaying {
    padding: 70px 0;
}

h1 {
    color: antiquewhite;
}